name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: Swatinem/rust-cache@v2
    - name: Build
      run: cargo build
    - name: Format
      # I can't use cargo fmt as the files in 'functions' are mod-ed in a macro
      run: rustfmt src/main.rs src/functions/*.rs --style-edition=2024 --check
    - name: Lint
      run: cargo clippy
    - name: Run tests
      run: cargo test
